<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cafe2"
        tools:targetApi="31">
        <activity
            android:name=".MotivoDeCancelacion"
            android:exported="false" />
        <activity
            android:name=".ConfirmarPagoConTarjeta"
            android:exported="false" />
        <activity
            android:name=".pedidos_activos_cliente"
            android:exported="false" />
        <activity
            android:name=".inicio_cajero"
            android:exported="false" />
        <activity
            android:name=".promos_clientes"
            android:exported="false" />
        <activity
            android:name=".pedido_individual_curso"
            android:exported="false" />
        <activity
            android:name=".pedidos_curso"
            android:exported="false" />
        <activity
            android:name=".inicio_clientes"
            android:exported="false" />
        <activity
            android:name=".EditarMiPedido"
            android:exported="false" />
        <activity
            android:name=".CarritoCompras"
            android:exported="false" />
        <activity
            android:name=".VerProducto"
            android:exported="false" />
        <activity
            android:name=".menu_historial"
            android:exported="false" />
        <activity
            android:name=".BanearActivar"
            android:exported="false" />
        <activity
            android:name=".Notificaciones"
            android:exported="false" />
        <activity
            android:name=".PedidoCompletado"
            android:exported="false" />
        <activity
            android:name=".RecuperarNotificacion"
            android:exported="false" />
        <activity
            android:name=".RestablecerContra"
            android:exported="false" />
        <activity
            android:name=".EditarProducto"
            android:exported="false" />
        <activity
            android:name=".promos_admin"
            android:exported="false" />
        <activity
            android:name=".menu_cajeros_admin"
            android:exported="false" />
        <activity
            android:name=".menu_clientes_admin"
            android:exported="false" />
        <activity
            android:name=".RegistrarCajerosAdm"
            android:exported="false" />
        <activity
            android:name=".EditarPromo"
            android:exported="false" />
        <activity
            android:name=".EditarPerfil"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".NuevaPromo"
            android:exported="false" />
        <activity
            android:name=".NuevoProducto"
            android:exported="false" />
        <activity
            android:name=".menu_admin"
            android:exported="false" />
        <activity
            android:name=".MenuUsuarios"
            android:exported="false" />
        <activity
            android:name=".PreguntaConfirmacion"
            android:exported="false" />
        <activity
            android:name=".OperacionExitosa"
            android:exported="false" />
        <activity
            android:name=".inicio_Admin"
            android:exported="false" />
        <activity
            android:name=".RegistrarActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>